## 1. 수 자료형

#### 1) 정수형

In [4]:
a=100; print(a)
a=-7; print(a)
a=0; print(a)

100
-7
0

#### 2) 실수형

In [5]:
a=157.93; print(a)
a=-1837.2; print(a)
a=5.; print(a)
a=-.7; print(a)

157.93
-1837.2
5.0
-0.7

- 지수표현 방식

In [6]:
a=1e9; print(a)
a=75.25e1; print(a)
a=3594e-3; print(a)

1000000000.0
752.5
3.594

- 컴퓨터는 2진수 체계 : 소수점 값 비교시, round()함수 사용

In [8]:
a=0.3+0.6; print(a)

if a==0.9:
    print(True)
else:
    print(False)

0.8999999999999999
False

In [9]:
a=.3+.6; print(round(a,4))

if round(a,4)==0.9:
    print(True)
else:
    print(False)

0.9
True

#### 3) 수 자료형의 연산

In [12]:
a=7; b=3

print(a/b)  #나누기(실수형)
print(a//b) #몫
print(a%b)  #나머지

print(a**b) #거듭제곱(a^b)

2.3333333333333335
2
1
343

## 2. 리스트 자료형
#### 1) 리스트 만들기

In [15]:
a = [1,2,3,4,5,6,7,8,9]
print(a)
print(a[4])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
5

- 빈 리스트 선언

In [16]:
a=list(); print(a)
a=[]; print(a)

[]
[]

- 크기가 n인, 모든 값이 0인 리스트

In [17]:
n=10
a=[0]*n
print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

#### 2) 리스트의 인덱싱과 슬라이싱

In [2]:
a = [1,2,3,4,5,6,7,8,9]

In [8]:
print(a[-1])
print(a[-3])
a[3] = 7; print(a)

9
7
[1, 2, 3, 7, 5, 6, 7, 8, 9]

In [11]:
# 두 번째 원소(1)부터 네 번째 원소(4-1)까지
a[1:4]

[2, 3, 7]

#### 3) 리스트 컴프리헨션

In [15]:
array = [i for i in range(20) if i%2 == 1]
print(array)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [16]:
# 같은 구문
array = []
for i in range(20):
    if i%2 == 1:
        array.append(i)
print(array)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [18]:
array = [i*i for i in range(1,10)]
print(array)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [19]:
n=3; m=4
array = [[0]*m for _ in range(n)]
print(array)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [21]:
array[1][1] = 4
array

[[0, 0, 0, 0], [0, 4, 0, 0], [0, 0, 0, 0]]

#### 4) 리스트 관련 기타 메서드

In [32]:
a = [1,2,3,4,5]

- 삽입 : append, insert

In [33]:
# 특정 원소 하나의 값 삽입
a.append(2); a

[1, 2, 3, 4, 5, 2]

In [37]:
# 해당 인덱스(2번째) 값에 특정값(3) 추가 
# 변경이 아니라 추가!
a.insert(2, 3); a

[1, 2, 3, 2, 3, 4, 5]

- 정렬 : sort, reverse

In [34]:
# 오름차순 정렬
a.sort(); a

[1, 2, 2, 3, 4, 5]

In [35]:
# 내림차순 정렬
a.sort(reverse=True); a

[5, 4, 3, 2, 2, 1]

In [36]:
# 원소 순서 뒤집기
a.reverse(); a

[1, 2, 2, 3, 4, 5]

- 원소 개수 : count

In [38]:
# 특정 값(3)의 개수
a.count(3)

2

- 원소 제거 : remove, 리스트 컴프리헨션 이용

In [39]:
# 특정 값(1) 제거
a.remove(1); a

[2, 3, 2, 3, 4, 5]

In [43]:
# remove 사용 시, 해당 값의 하나만 제거됨
a = [1, 2, 3, 4, 5, 5, 5]
a.remove(5); a

[1, 2, 3, 4, 5, 5]

In [40]:
# 특정한 값을 모두 제거하는 경우
a = [1, 2, 3, 4, 5, 5, 5]
remove_set ={3, 5}

result = [i for i in a if i not in remove_set]
print(result)

[1, 2, 4]

## 3. 문자열 자료형
#### 1) 문자열 초기화

In [44]:
data = "Hello World"; print(data)
data = "Don't you know \"Python\"?"; print(data)

Hello World
Don't you know "Python"?

#### 2) 문자열 연산

In [45]:
a = "Hello"
b = "World"
print(a + " " + b)

Hello World

In [47]:
a = "String"
print ((a + " ")*3)

String String String

In [49]:
a = "ABCDEF"
print(a[2:4])

CD

## 4. 튜플 자료형

In [50]:
a = (1,2,3,4)
print(a)

a[2]=7

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

## 5. 사전 자료형
#### 1) 사전 자료형 소개

In [51]:
data = dict()

# data[key] = value
data['사과'] = 'Apple'
data["바나나"] = "Banana"
data["코코넛"] = 'Coconut'

print(data)

{'사과': 'Apple', '바나나': 'Banana', '코코넛': 'Coconut'}

In [52]:
if '사과' in data:
    print("사과가 존재합니다.")

사과가 존재합니다.

#### 2) 사전 자료형 관련 함수

In [54]:
key_list = data.keys()
value_list = data.values()
print(key_list); print(value_list)

for key in key_list:
    print(data[key])

dict_keys(['사과', '바나나', '코코넛'])
dict_values(['Apple', 'Banana', 'Coconut'])
Apple
Banana
Coconut

## 6. 집합 자료형
#### 1) 집합 자료형 소개
- 중복을 허용하지 않음, 순서가 없음

In [55]:
data = set([1,1,2,3,4,5,5])
print(data)

data = {1,1,2,3,4,4,4,5}
print(data)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

#### 2) 집합 자료형의 연산

In [57]:
a = {1,2,3,4,5}
b = {3,4,5,6,7}

print(a | b) #합집합
print(a & b) #교집합
print(a - b) #차집합

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}

#### 3) 집합 자료형 관련 함수

In [58]:
data = {1,2,3}; print(data)

{1, 2, 3}

- 새로운 원소 추가

In [59]:
data.add(4); print(data)

{1, 2, 3, 4}

- 새로운 원소 여러개 추가

In [60]:
data.update([5,6]); print(data)

{1, 2, 3, 4, 5, 6}

- 특정 값의 원소 제거

In [61]:
data.remove(5); print(data)

{1, 2, 3, 4, 6}